@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  overflow: hidden;
}
.button_alert {
  padding: 8px 16px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #e60000;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.alert {
  background: #ff000041;
  padding: 8px 0px;
  width: 53%;
  position: relative;
  margin-top: 20px;
  border-radius: 4px;
  border-left: 8px solid #e60000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(200%);
  }
}
.alert .fa-exclamation-circle {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #e60000;
  font-size: 30px;
}
.alert .msg {
  padding: 0 15px;
  font-size: 12px;
  color: #e60000;
  white-space: pre-line;
}
.alert .close-btn {
  position: absolute;
  right: 8px;
  top: 57%;
  transform: translateY(-50%);
  background: #e60000;
  padding: 10px 15px;
  cursor: pointer;
}
.alert .close-btn:hover {
  background: #e60000;
}
.alert .close-btn .fas {
  color: #ffffff;
  font-size: 20px;
  line-height: 10px;
}
